html, body {
    margin: 0px;  /*去外距*/
    height: 100%; /*自動填滿瀏覽器高度*/
    font-family: "jf-openhuninn-1.1";
}

.entire {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    perspective: 500px;
    perspective-origin: center;
}

#monitor {
    display: flex;
    flex-direction: column;
}

#monitor2 {
    display: flex;
    border: 1px;
    border-style: solid;
    border-bottom: 0;
    color: black;
    width: 370px;
    height: 50px;
    font-size: 30px;
    margin: 0px auto;
    align-items: center;
    justify-content: flex-end;
    border-style: solid;
    border-color: #BEBEBE #F0F0F0 #E0E0E0 #BEBEBE;
    border-width: 5px 20px 0 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#monitor1 {
    display: flex;
    border: 1px;
    border-style: solid;
    border-top: 0px;
    color: black;
    width: 370px;
    height: 100px;
    font-size: 50px;
    margin: 0px auto;
    align-items: center;
    justify-content: flex-end;
    border-style: solid;
    border-color: #BEBEBE #F0F0F0 #E0E0E0 #BEBEBE;
    border-width: 0 20px 30px 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.digit {
    width: 100px;
    height: 100px;
    font-size: 35px;
    border-radius: 15px;
    border-style: solid;
    border-color: #BEBEBE #F0F0F0 #E0E0E0 #BEBEBE;
    border-width: 5px 20px 30px 10px;
    transform-style: perserve-3d;
}

.digit:active {
    background-color: rgb(255, 208, 107);
    transform: translate3d(0, 10px, 0);
}

.digits-first {
    width: 400px;
    display: flex;
    align-self: center;
}

.digits-row {
    display: flex;
    justify-content: center;
}

.operator {
    width: 100px;
    height: 100px;
    font-size: 35px;
    border-radius: 15px;
    border-style: solid;
    border-color: #6DAFCB #7CC7E8 #6FBCDD #6DAFCB;
    border-width: 5px 20px 30px 10px;
    transform-style: perserve-3d;
    background-color: #7CC7E8;
}

.operator:active {
    background-color: rgb(177, 194, 250);
    transform: translate3d(0, 10px, 0);
}

.other {
    width: 100px;
    height: 100px;
    font-size: 35px;
    border-radius: 15px;
    border-style: solid;
    border-color: #6DAFCB #7CC7E8 #6FBCDD #6DAFCB;
    border-width: 5px 20px 30px 10px;
    transform-style: perserve-3d;
    background-color: #7CC7E8;
}

.other:active {
    background-color: rgb(177, 194, 250);
    transform: translate3d(0, 10px, 0);
}

.other-first {
    width: 200px;
    height: 100px;
    font-size: 35px;
    border-radius: 15px;
    border-style: solid;
    border-color: #CB8498 #F19DB5 #E68CA4 #CB8498;
    border-width: 5px 20px 30px 10px;
    transform-style: perserve-3d;
    background-color: #F19DB5;
}

.other-first:active {
    background-color: antiquewhite;
    transform: translate3d(0, 10px, 0);
}