.monitor {
    display: flex;
    border: 2px;
    border-style: solid;
    color: black;
    width: 400px;
    height: 100px;
    font-size: 50px;
}

.digit {
    display: flex;
    width: 100px;
    height: 100px;
    font-size: 45px;
}

.digits-row {
    display: flex;

}

.operator {
    display: flex;
    width: 100px;
    height: 100px;
    font-size: 45px;
}

.other {
    display: flex;
    width: 100px;
    height: 100px;
    font-size: 45px;
}